<!DOCTYPE html>
<html>
	<body>
			<div id="custom-content" class="white-popup-block" style="max-width:650x; margin: 20px auto;">
				<div>
		    	<h1>Library: Music Playlist Redesign</h1>
		    	<img style="padding-left: 28%; zoom: 80%; " src="img/project1/library.png"> </img>
		    	<br>
		    	<br>
		    	<p>
		    		<a href="https://medium.com/@chenr.maxim/library-music-playlist-redesign-f2ee593d9a64">Visit Medium Post!</a>
		    		<br>
		    		<br>
						<a href="https://www.figma.com/proto/JlQMsfMxOQrotFk5pRNsOv2j/187A-Music-Prototype?scaling=contain&node-id=1%3A117&redirected=1">Visit our Music Prototype Preview!</a>
		    		<br>
		    		<br>
						Library: is our redesign for a music library based on different scenarios and user interaction and feedback. We wanted to take different design styles to combine for a friendlier user experience than current apps on the market. Library targets 2 specific scenarios: 1. Creating a new playlist and 2. Managing the new playlist.
						<br>
						<br>
						 Library was designed in a UI/UX course at UC San Diego by 4 students. Our group conducted interviews, analyzed workflows for applications and their architecture in order to create our Prototype Redesign in Figma.
					</p>
				</div>

				<div>
		    <h4> User Interviews</h4>
					<p>
			    	In order to take a glimpse at different users music listening habits were, and how they create playlists. We conducted several different interviews about a users general music application use. We created a list of pre-questions to figure out about the way users interact and respond to various music apps such as Spotify, YouTube, SoundCloud, etc. A way to quantify their music listening habits and the way they utilize these various music apps for creation, discovery, management.
			    	<br>
			    	<ul>
			    		<li>Do you create playlists for different occasions such as working out, relaxing, etc.?</li>
							<li>Does grouping different genres of music contribute you to creating different playlists?</li>
							<li>How often do you listen to music and what times of day?</li>
							<li>Do you listen to your own playlists or others? Would you consider listening to other playlists? Why?</li>
			    	</ul>
						<p>
							 Then from the interviews, we gathered a list of likes and dislikes about each app to help better build and conceptualize our prototype. Many of these apps have different work flows to create a playlist and adding the song. Whereas some applications like YouTube and SoundCloud create playlists from the first song, while Spotify and Apple Music creates an empty playlist first. I conducted the interview on 3 participants, they used YouTube, SoundCloud and Google Play Music. I screen captured my mobile device and conducted different scenarios I devised. These included creating playlists based on mood, discovering music based on the playlist, renaming, sharing, and managing.
						</p>
		    	</p>
				</div>

				<div>
					<h4> Good vs. Less Good User Experience/Workflow Comparisons </h4>
					<img style="padding-left: 10%; zoom: 80%; " src="img/project1/good1.png"> </img>
					<p>
						In order to further conceptualize and map out our design of Library, we also compared the workflow and experience between different applications. In such example we try to find the create playlist button in iTunes vs Spotify. The workflow for iTunes was way more intuitive based on the way the app groups their music in the library, and shifts toward the playlist page to create a new playlist.
					</p>
					<img style="zoom: 80%; " src="img/project1/good2.png"> </img>
					<p>
						In the Spotify screenshot we see how tedious the user has to go through to make a new playlist. They have to find the playlist page that is masked with pre-made and suggested playlists, then scroll down to the bottom of the playlists to find the button for creating an empty playlist. We thought it would be much more efficient and easy for the user to just create the playlist at the top of the page. During our interviews some users had trouble finding the create button.
					</p>
				</div>

				<div>
					<h4> Analysis of Information Architecture </h4>
					<img style="padding-left: 18%; zoom: 80%; " src="img/project1/level1.png"> </img>
					<p>
						Our group also performed Information Architecture analysis on several apps. By doing deep dives into a specific music app to see their range of discoverable music genres. This deep dive of discovering the extensiveness of genres in different music applications was to analyze the navigation structure of the apps. These music apps have a specific hierarchical sitemap that we links to the different various pages.
					</p>
					<img style="padding-left: 12%; zoom: 80%; " src="img/project1/level31.png"> </img>
					<p>
						For the Analysis of Information Architecture, I performed a deep dive for Alternative/Indie music within Google Play Music. Through the Browse Stations tab, I listed all the possible stations for various different playlists for Alternative/Indie. Each of these stations have their own group of artists and selection based on the different generated playlists.
					</p>
					<img style="padding-left: 14%; zoom: 80%; " src="img/project1/level32.png"> </img>
				</div>

				<div>
					<h4> Prototype Redesign </h4>
					<p>
						The Prototype Redesign is the biggest aspect of this project. Taking all the data, and ideas from the previous analysis, user feedback we created a music playlist design flow that is more intuitive and smoother for the user. We used the design mockup wireframe creating software called Figma, to create each screen and link together the application as a active design.
					</p>
					<img style="padding-left: 7%; zoom: 80%; " src="img/project1/redesign.png"> </img>
					<br>
					<br>
					<p>
						These are 3 different design mockups with different color palettes for our design of the Library Music App. In order to get some basic components, we started with basic different UI starter components to begin creating the wireframe of the app. We sketched out the basic design of how our app was going to look and the various placements of the most basic parts of the app such as search bar, edit buttons, navigation bars etc.
						<img style=" zoom: 80%; " src="img/project1/toolkit.png"> </img>
					</p>
					<p>
						Once we had a basic mockup of the general design flow of our application we looked into the correct placement of different core functionality of the app. One of the hardest design decisions were figuring out the way we wanted to control the user flow of navigation or the position of the edit bar. Below in these 4 images, is first the different way we wanted to have the navigation bar. And also the position of the edit button.
						<img style="padding-left: 7%; zoom: 80%; " src="img/project1/navbar.png"> </img>
					</p>
					<p>
						The edit button causes unnecessary white space that makes for an awkward viewing experience. As a group we all decided that having the edit button here was not an efficient use for the space and would just be better to eliminate the edit portion on the playlist main page. As shown below.
						<img style="padding-left: 3%; zoom: 80%; " src="img/project1/edit.png"> </img>
					</p>
					<p>
						As a group we wanted created 2 scenarios for Library. These 2 scenarios are creating a playlist through search and adding songs from a previous playlist and the second is managing the playlist by deletion, and renaming the playlist.
						In the following screenshot details the user flow for creating a playlist in Library.
						<br>
						<br>
						<img style=" zoom: 70%; " src="img/project1/redesign2.png"> </img>
						<img style=" zoom: 65.5%; " src="img/project1/redesign3.png"> </img>
						<br>
						<br>
						I helped in creating the various wireframes you see from scenario 1. The creating new playlist screens, with the ability to add, or delete directly from the playlist was designed by me. This was taking into account the good and bad design flows and interview feedback. I wanted to create a simple and intuitive way for users to quickly create and add music to their playlist. This was the final design flow for our scenario 1.
						<br>
						<br>
						<img style=" zoom: 65%; " src="img/project1/redesign4.png"> </img>
						<img style=" zoom: 65.5%; " src="img/project1/redesign5.png"> </img>
						<br>
						<br>
						The second scenario was looking at an already created playlist and managing the selected playlist. I created the wireframes for the previous playlist "vapooorwaaave" and renaming the playlist to "lit gym playlist" and the ability to delete the song from the playlist. I wanted to give all the options for the user on one page, instead of some sort of secondary menu to delete the songs or selecting different options to rename or delete. This was to keep the user from clicking too many times and keep the process simple.
						<img style=" zoom: 65%; " src="img/project1/redesign7.png"> </img>
						<br>
						<br>
						Finally, this is the overall view of the project with every wireframe in place. Where we highlighted hot spots that connected each wireframe to the next. Being able to link the user flow captures the 2 scenarios and how the user would have navigated the Library to create a playlist, and manage it.
						<br>
						<br>
					</p>
					<div>
						<h4> Challenges </h4>
						<p>
						<img style=" zoom: 65%; " src="img/project1/challenge.png"> </img>
						<br>
						<br>
						The prototype redesign is where we had many challenges to decide what were the best fit designs that would best benefit and create the most smooth user work flow. As mentioned above we had problems with the edit button and the navigation bar aspects. We took quite a while to decide and brainstorm ways to fix these issues, and ended up resulting with what our current app looks like. There was also another challenge such as displaying the song details in different situations such as during search vs. in the library. Many of these issues stemmed from our displeasure with aesthetics and having to sacrifice functionality and flexbility.
						<br>
						<br>
						Therefore our final product is a workable design mockup of two different scenarios on our created design of a Music app called Library. We aimed to bridge the awkwardness and clunkiness of some flaws of current music apps. In order to make a more intuitive user experience with navigating through creation, management, and deletion, we had to trade off different design features such as the different types of navigation, and ways to manage space.
						</p>
					</div>
					<div>
					<h4> Conclusion </h4>
					<p>
						Overall this project was a great experience in deeply looking in the current app market and how these huge apps utilize the app space to manipulate and perform common design flow for organizing, playing, and managing music. The interviews enabled us as a group to identify personal user experience with these various apps and gather a sort of standard of what the consumers like or dislike. Then through analyzing information architecture and design flows we were able to get a good idea on how current apps in the market allow for users to go through the various scenarios and the extent of the usability. The prototype is a sort of culmination of all our gathered data and ideas put into a working design flow using figma.
						<br>
						<br>
					</p>
					</div>
				</div>

		</div>

	</body>


</html>

