<!DOCTYPE html>
<html>
	<body>
			<div id="custom-content" class="white-popup-block" style="max-width:600px; margin: 20px auto;">
			<div>
				<h1> EarthSaviour </h1>
				<p>
					<img style="zoom: 38%; " src="img/portfolio/fullsize/test2.png"> </img>
					<br>
					<br>
					As a project more focused on UI/UX and User Testing, our team created basic functionality of the site and fiddled around with the design. EarthSaviour takes your photos and collects data and outputs statistics comparing your habits with others and also allow you to post and chat on a forum.
          <br>
          <br>
          Our Team on EarthSavior created most of the application through wireframming the site with javascript, html and css. The focus of this quarter long project was on design and how we to include the feedback from user testing. It was also a place for us to implement design ideas and concepts from class to be utilized in the application. One of the biggest aspects of this project was our task of A/B Testing. Testing was a fundamental part of this aspect for us to test parts of our website and view the work flow.
        </p>
			</div>
			<div>
				<h4> Design </h4>
				<p>
					<img style="zoom: 38%; " src="img/project3/login.png"> </img>
					<br>
					<br>
					In this project, our main task was creating and relating a application that is related to Citizen Science. In this case our group looked to collect data and statistics regarding trash/recycling habits. By gatherin all the data from trash habits and etc. we maybe be able to provide feedback for the users in our app. I was tasked with creating some of the basic functionality with the login page and uploading the pictures to be uploaded unto our database.
					<br>
					<br>
					<img style="zoom: 26%; " src="img/portfolio/fullsize/earthsaviour2.png"> </img>
					<br>
					<br>
					We wanted to create a simple layout with minimal workflow design to move from page to page. One of the main aspects of our website was to just have functionality over aesthetics. We didn't need to focus too much on the design of the app but just have the main parts of our app work. In the gallery there are more examples of a simple layout such as the forum, and statistics page.
				</p>
			</div>
			<div>
				<h4> Testing </h4>
				<p>
					<img style="zoom: 80%; " src="img/project3/stats.png"> </img>
					<br>
					<br>
					A key component to this project was our testing capabilities. Our project utilized different testing methods inorder to render and create the best application. One key proponent that led us to change designs was utilizing Googles A/B testing capabilities. From the screenshot you can see the statistics we occured, we wanted to see how the different way people enter into the form for clicking and submitting a photo changed.
					<br>
					<br>
					<img style="zoom: 55%; " src="img/project3/abtest2.png"> </img>
					<br>
					<br>
					In this image you can see the changes in design we made in our website to see how users would react. Before it was a two-step process to upload a photo and describe. However here we made it so its all on one page. Then from the statistics page we could see how instrumental our change in design was. I was tasked to look at the statistics and evaluate all the information. That would all go into our writeup for the project.
					<br>
					<br>
					<img style="zoom: 80%; " src="img/project3/stats2.png"> </img>
				</p>

			</div>

		</div>

	</body>


</html>



