<!DOCTYPE html>
<html>
	<body>
			<div id="custom-content" class="white-popup-block" style="max-width:600px; margin: 20px auto;">

			<div>
				<h1> TutorNow! </h1>
				<img style="zoom: 23%; " src="img/portfolio/fullsize/tutornow.png"> </img>
				<br>
				<br>
				<p>
					In the app, users can create their profile and toggle between provider/receiver. And select the different kinds of classes or activities they want to provide or receive and it will map to their location. After the scheduled time is over, users can rate and deal transactions for the service.
          <br>
          <br>
          We built the app using Angular2 and Meteor. With the Ionic framework we were able to scaffold our project and code in the details of TutorNow!. It took us a whole quarter to get the all the functionality working, such as requesting, profiles, mapping, discovering etc.
          <br>
          <br>
				</p>
				<div>
					<h4> Paper Prototyping</h4>
					<img style=" zoom: 20%; " src="img/project2/tutorFinding.jpg"> </img>
					<p>
						In order to identify potential needs for location service based apps, we create various prototypes to solve our social problem. TutorNow is able to users to providers for any kind of tutoring services. This was my paper prototype that was used to identify problems people face today. It is a simple example of sketching prototypes to identify a sort of framework for our group to create the framework for the app.
					</p>
				</div>

				<div>
					<h4> Design </h4>
					<p>
						<img style=" zoom: 20%; " src="img/portfolio/fullsize/tutornow2.png"> </img>
						In order to get our basic wireframe of the project, we utilized the Ionic framework to scaffold our project. Ionic utilizes Angular2 for us to code and create our project. Since this class wasn't focused much on the styling, or aethetics of the project as much as the functionality. We had to achieve the functionality we wrote about in our reports to the class. This app was a geo based locating app that paired users together for different services.
						<br>
						<br>
						A large part of my responsbility was to get the functionality working for the account settings, provider settings pages. This was to show the users profiles and different discovering options or listing the classes they tutored. The account settings and provider settings was to give the user of the app options and actions and then enables them to become discoverable to others. Even things such as providing and enabling the camera to work for adding a photo or changing the radius.
						<br>
						<br>
						<img style=" zoom: 30%; " src="img/portfolio/fullsize/tutornow3.png"> </img>
						<img style=" zoom: 30%; " src="img/portfolio/fullsize/tutornow4.png"> </img>
						<br>
						<br>
						Our group also utilizing the Google Maps API we were able to link together the users via realtime discovery. I was charged with making some aesthetic changes to make the UI more user friendly. Different stylizations of the button and the work flow was evaluated by our group and eventually pushed into our final design.
						<br>
						<img style=" zoom: 30%; " src="img/portfolio/fullsize/tutornow5.png"> </img>
						<img style=" zoom: 30%; " src="img/portfolio/fullsize/tutornow6.png"> </img>
						<br>
						<br>
						Similar to the uber app when you find someone to link with on the map the profile pops up. I designed and coded the profile's for each marker on the map. Things such as the rating or their name was fetched from a server. We hosted our application using Meteor. This was ascreenshot of the map after we had found a certain provider and was able to being routing towards their position.
						<br>
						<br>
						<img style=" zoom: 30%; " src="img/project2/map.png"> </img>
						<br>
						<br>
						Overall, design-wise the one thing we wanted for our application to work was the actual linking between user and provider. Ionic was able to handle most of our design with prebuilt components. These buttons and markers that are utilized here are from me putting these components into the application. Most of the proponents are already pre-stylized and made my job easier. Once we got the map functionality to work and in real time we were able to launch our project for use.
					</p>
				</div>
			</div>

		</div>

	</body>


</html>

